*.pyc
*.asv
.*.sw?
*~
.DS_Store
__pycache__
.pytest_cache
.ipynb_checkpoints
.ropeproject
*.egg-info
baby-server-test.png
**/scratch/
**/data/*
*.egg-info/
**/venv/
/tf1_venv/
/dist
/tests/test-modelset-cache/
